{% extends '@SyliusShop/layout.html.twig' %}

{% block content %}

  <h2 class="ui horizontal section divider header">
      Actualités
  </h2>

    {% for actualite in actualites %}
    <article class="actualite">
        <h3>{{ actualite.titre }} <small>{{ actualite.date|date('d-m-Y') }}</small></h3>
        <p>
          {% if actualite.getWebPath %}
            <div class="img">
                <img src="{{ asset(actualite.getWebPath) }}" alt="Photo Gildas Flahault" class="photo">
            </div>
          {% endif %}
          {{ actualite.description|raw }}
        </p>
    </article>
    {% endfor %}


    {# <article class="actualite">
        <h3>Ouverture de la galerie en ligne de Gildas Flahault <small>32/13/2017</small></h3>
        <p>
          <div class="img" style="width: 40%; float: right">
            <img src="{{ asset('images/photo-gildas-flahault.jpg') }}" alt="Photo Gildas Flahault" class="photo">
            <i>Gildas et ses oeuvres</i>

          </div>La nouvelle version de la galerie en ligne de Gildas Flahault (<a href=""><i class="fa fa-external-link"></i></a>) est désormais en ligne ! Vous pourrez y acheter des représentations de plusieurs ses oeuvres.


        <br><br>Mox dicta finierat, multitudo omnis ad, quae imperator voluit, promptior laudato consilio consensit in pacem ea ratione maxime percita, quod norat expeditionibus crebris fortunam eius in malis tantum civilibus vigilasse, cum autem bella moverentur externa, accidisse plerumque luctuosa, icto post haec foedere gentium ritu perfectaque sollemnitate imperator Mediolanum ad hiberna discessit.

        <br><br>Nam sole orto magnitudine angusti gurgitis sed profundi a transitu arcebantur et dum piscatorios quaerunt lenunculos vel innare temere contextis cratibus parant, effusae legiones, quae hiemabant tunc apud Siden, isdem impetu occurrere veloci. et signis prope ripam locatis ad manus comminus conserendas denseta scutorum conpage semet scientissime praestruebant, ausos quoque aliquos fiducia nandi vel cavatis arborum truncis amnem permeare latenter facillime trucidarunt.

        <br><br>Quod opera consulta cogitabatur astute, ut hoc insidiarum genere Galli periret avunculus, ne eum ut praepotens acueret in fiduciam exitiosa coeptantem. verum navata est opera diligens hocque dilato Eusebius praepositus cubiculi missus est Cabillona aurum secum perferens, quo per turbulentos seditionum concitores occultius distributo et tumor consenuit militum et salus est in tuto locata praefecti. deinde cibo abunde perlato castra die praedicto sunt mota.
        </p>
    </article> #}

{% endblock %}
