<div class="ui segment">
    <form method="get" action="{{ path('sylius_shop_product_index', {'slug': app.request.attributes.get('slug')}) }}" class="ui loadable form">
        <div class="ui stackable grid barrerecherche">
            <div class="eleven wide column">
                {% for filter in products.definition.enabledFilters %}
                    {{ sylius_grid_render_filter(products, filter) }}
                {% endfor %}
            </div>
            <div class="three wide column">
                <div class="ui buttons">
                    <button type="submit" class="ui primary icon labeled button" title="{{ 'sylius.ui.search'|trans }}"><i class="search icon"></i> <span class="text">{{ 'sylius.ui.search'|trans }}</span></button>
                    <a href="{{ path('sylius_shop_product_index', {'slug': app.request.attributes.get('slug')}) }}" class="ui negative icon labeled button" title="{{ 'sylius.ui.clear'|trans }}">
                        <i class="cancel icon"></i> <span class="text">{{ 'sylius.ui.clear'|trans }}</span>
                    </a>
                </div>
            </div>
        </div>
    </form>
</div>
